*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(12, 222, 58, 0.628),rgb(4, 80, 0));
    font-weight: normal;
}

.calulator-grid{
   display: grid;
   justify-content: center;
   align-content: center;
   min-height: 100vh;
   grid-template-columns:repeat(4, 100px);
   grid-template-rows: minmax(120px,auto) repeat(5, 100px);
}

.calulator-grid > button{
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    border: 10px solid #fff;
    background-color: rgb(255,255,255,.75);

 }

 .calulator-grid > button:hover{
    background-color: rgb(255,255,255,.9);
 }

 .span-two{
    grid-column: span 2;
   
 }
 
.output{
    grid-column:1/-1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    background-color: rgb(37, 14, 14);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
 }

 .output .previous-output{
  font-size: 1.5rem;
  color: rgb(255,255,255,.75);
 }

 .output .current-output{
    font-size: 2.5rem;
    color:#fff;
   }